<form #busenquiry="ngForm"></form>
<h1 style="text-align: center;"> Booking Page</h1>
    <h3 style="text-align: center;"> {{ busDetails.busName  | titlecase }}</h3>

    <h3 style="text-align: center;"> {{ busDetails.source | titlecase }}-{{ busDetails.destination | titlecase }} ({{
        busDetails.travelDate}})</h3>
<div>
    <label class="text-color">Seat No : {{ seatNo }} </label>
</div>
<div>
    <label class="text-color">Name : </label>
    <input type="text" name="Name">
</div>

<div>
    <label class="text-color">Phone No : </label>
    <input type="text" name="Phone No">
</div>
<div>
    <label class="text-color">Email Id : </label>
    <input type="text" name="Email Id">
</div>


  